<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="wicketApplication" class="com.innoq.samples.WicketApplication">
    </bean>

    <bean id="modelCache" class="com.innoq.samples.cache.ModelCache"/>

    <bean id="executorService" class="com.innoq.samples.async.AsynchronousExecutorImpl"
          destroy-method="destroy">
        <constructor-arg ref="modelCache"/>
    </bean>

    <!-- Services -->

    <bean id="calendarManager" class="com.innoq.samples.connectors.mocks.MockCalendarManagement">
        <constructor-arg index="0" value="1200"/>
    </bean>

    <bean id="projectManager" class="com.innoq.samples.connectors.mocks.MockProjectManagement">
        <constructor-arg index="0" value="1800"/>
    </bean>

    <bean id="financialService" class="com.innoq.samples.connectors.mocks.MockFinancialService">
        <constructor-arg index="0" value="3900"/>
    </bean>

</beans>