<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.5-strict.dtd">
<wicket:panel>
    <div>
        <table>
            <tr>
                <th>Project</th>
                <th>Customer</th>
                <th>Revenue</th>
                <th>Profit</th>
            </tr>
            <tr wicket:id="entries">
                <td>
                    <wicket:container wicket:id="project">[project]</wicket:container>
                </td>
                <td>
                    <wicket:container wicket:id="customer">[customer]</wicket:container>
                </td>
                <td>
                    <wicket:container wicket:id="revenue">[revenue]</wicket:container>
                </td>
                <td>
                    <wicket:container wicket:id="profit">[profit]</wicket:container>
                </td>
            </tr>
        </table>
    </div>

</wicket:panel>
</html>